html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "lato", sans-serif;
  background: rgb(238, 238, 238);
}
.container {
  padding: 1% 25%;

  background: white;
  height: 100vh;
}
h3 {
  color: rgb(141, 141, 141);
  font-size: 1.4rem;
}

header {
  height: 17vh;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: linear-gradient(290deg, #09053b, #160e85, #161274, #08034b);
  padding: 0 5%;
  color: white;
}
header .timer {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 1px solid rgb(192, 192, 192);
  font-size: 0.9rem;
  text-align: center;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
a {
  color: white;
  text-decoration: none;
}
.score h1 span {
  color: rgb(52, 184, 173);
  font-family: "monsterat", san-serif;
  font-size: 2.3rem;
}
.question {
  margin: 1rem;
  padding: 1rem;
}
#question-container {
  min-height: 40vh;
}
.answers {
  display: inline-grid;
  margin: 1rem;
}
.btn {
  margin: 0.3rem;
  background: linear-gradient(#151055, #29228d);
  color: rgb(230, 230, 230);
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  text-align: left;
}
.btn:hover {
  background-color: rgb(49, 43, 136);
}
.btn:active {
  background-color: rgb(49, 43, 136);
}
.btn-start {
  padding: 0.7rem 2.5rem;
  font-size: 1.1rem;
  margin-top: 2rem;
}
.result {
  padding: 2rem;
  text-align: center;
  align-content: center;
}
.hide {
  display: none;
}

.score-container {
  margin: 2rem;
  padding: 3rem 1rem;
  text-align: left;
  align-content: center;
}
.score-container input {
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
  outline: hidden;
  border: 1px solid rgb(201, 201, 201);
  margin: 0.5rem 1rem;
  font-size: 1.2rem;
}
.score-container span {
  font-size: 1.3rem;
}
.initials {
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
  outline: hidden;
  border: 1px solid rgb(201, 201, 201);
  margin: 0.5rem 1rem;
  font-size: 1.2rem;
}
.high-score {
  padding: 2rem;
}

.high-score li {
  background-color: rgb(183, 194, 224);
  padding: 0.4rem 2rem;
  font-weight: bold;
  list-style: none;
  margin-left: -2rem;
}
.high-score span {
  font-size: 1.4rem;
  margin-right: 0.4rem;
}

/* /---media- query-======= */
@media only screen and (max-width: 1180px) {
    .container {
        padding: 1% 15%;
    }
}


@media only screen and (max-width: 700px) {
    .container {
        padding: 1% 5%;
    }
}
